Repository pinterroniaron/MT_Project, pull requests merged in 2025-02, with the labels that each got.

#7 only cards done
  index.html
  style.css
Labels: HTML, CSS

#11 8 product searching
  images/1other/cart.jpg
  images/coats/coat1.jpg
  images/coats/coat2.jpg
  images/coats/coat3.jpg
  images/coats/coat4.jpg
  images/coats/coat5.jpg
  images/jackets/jackets1.jpg
  images/jackets/jackets2.jpg
  images/jackets/jackets3.jpg
  images/jackets/jackets4.jpg
  images/jackets/jackets5.jpg
  images/jeans/jean1.jpg
  images/jeans/jean2.jpg
  images/jeans/jean3.jpg
  images/jeans/jean4.jpg
  images/jeans/jean5.jpg
  images/shirts/shirts1.jpg
  images/shirts/shirts2.jpg
  images/shirts/shirts3.jpg
  images/shirts/shirts4.jpg
  images/shirts/shirts5.jpg
  images/socks/socks1.jpg
  images/socks/socks2.jpg
  images/socks/socks3.jpg
  images/socks/socks4.jpg
  images/socks/socks5.jpg
  images/sweatpants/sweatpant1.jpg
  images/sweatpants/sweatpant2.jpg
  images/sweatpants/sweatpant3.jpg
  images/sweatpants/sweatpant4.jpg
  images/sweatpants/sweatpant5.jpg
  images/swimsuits/swimsuit1.jpg
  images/swimsuits/swimsuit2.jpg
  images/swimsuits/swimsuit3.jpg
  images/swimsuits/swimsuit4.jpg
  images/swimsuits/swimsuit5.jpg
Labels: HTML

#13 cards working alr
  index.html
  script.js
  style.css
Labels: HTML, CSS

#15 14 api
  index.html
  script.js
Labels: JS

#17 16 api images to cards
  index.html
  script.js
Labels: HTML, JS

#22 21 cards resposive webpage
  index.html
  script.js
  style.css
Labels: bug, HTML, JS, CSS

#25 arrows, holding mouse scroll
  index.html
  script.js
  style.css
Labels: HTML, JS, CSS

#26 products html done, script recreated
  products.html
  script.js
  script2.js
Labels: HTML, JS

#32 fixed
  index.html
  script.js
  style.css
Labels: HTML, JS, CSS

#33 27 make one js file out of two and correct some bugs
  index.html
  products.html
  script.js
  script2.js
  style.css
Labels: HTML, JS

#35 window.load added
  script.js
Labels: bug

#45 38 page for every product done
  allProducts.html
  cart.jpg
  images/coats/coat1.jpg
  images/coats/coat2.jpg
  images/coats/coat3.jpg
  images/coats/coat4.jpg
  images/coats/coat5.jpg
  images/hoodies/hoodie1.jpg
  images/hoodies/hoodie2.jpg
  images/hoodies/hoodie3.jpg
  images/hoodies/hoodie4.jpg
  images/hoodies/hoodie5.jpg
  images/jackets/jackets1.jpg
  images/jackets/jackets2.jpg
  images/jackets/jackets3.jpg
  images/jackets/jackets4.jpg
  images/jackets/jackets5.jpg
  images/jeans/jean1.jpg
  images/jeans/jean2.jpg
  images/jeans/jean3.jpg
  images/jeans/jean4.jpg
  images/jeans/jean5.jpg
  images/shirts/shirts1.jpg
  images/shirts/shirts2.jpg
  images/shirts/shirts3.jpg
  images/shirts/shirts4.jpg
  images/shirts/shirts5.jpg
  images/socks/socks1.jpg
  images/socks/socks2.jpg
  images/socks/socks3.jpg
  images/socks/socks4.jpg
  images/socks/socks5.jpg
  images/sweatpants/sweatpant1.jpg
  images/sweatpants/sweatpant2.jpg
  images/sweatpants/sweatpant3.jpg
  images/sweatpants/sweatpant4.jpg
  images/sweatpants/sweatpant5.jpg
  images/swimsuits/swimsuit1.jpg
  images/swimsuits/swimsuit2.jpg
  images/swimsuits/swimsuit3.jpg
  images/swimsuits/swimsuit4.jpg
  images/swimsuits/swimsuit5.jpg
  images/t-shirts/tshirt1.jpg
  images/t-shirts/tshirt2.jpg
  images/t-shirts/tshirt3.jpg
  images/t-shirts/tshirt4.jpg
  images/t-shirts/tshirt5.jpg
  index.html
  product.html
  productScript.js
  script.js
Labels: HTML, JS
