Repository pinterroniaron/MT_Project, pull requests merged in 2025-03, with the labels that each got.

#51 49 cart fixes
  cart.js
  products.css
  script.js
  style.css
Labels: JS

#52 product randomizing fixed
  cart.js
  script.js
Labels: JS

#54 cart button adjusted
  index.css
Labels: CSS

#62 dark mode works perfectly
  cart.css
  cart.html
  darkmode.js
  images/darkmode.png
  images/lightmode.png
  index.css
  index.html
Labels: HTML, JS, CSS

#73 68 productshtml styling
  allProducts.html
  products.css
Labels: TBC

#80 floating text is not that responsive but alright
  index.css
Labels: CSS
